@import url('https://fonts.googleapis.com/css2?family=Prata&family=Quicksand:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
.background{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#11998E, #1F1F1F);
    position: absolute;
}
.background h1{
    font-weight: lighter;
    letter-spacing: 2px;
    font-family: 'Prata', serif;
    font-size: 3rem;
    padding: 4vh 8vw;
    color: white;
}
#main-grp{
    height:75vh;
    width: 84vw;
    position: absolute;
    left: 8vw;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    overflow: auto;
    padding-right: 20px;
    padding-bottom: 4vh;
}
.card{
    background-color: #dfdfdf;
    border-radius: 25px;
    height: 20rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card audio{
    position: absolute;
    width: 87%;
    bottom: 20px;
}
audio::-webkit-media-controls-panel{
    background-color:#11998E !important;
    color: white !important;
}
.card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.song-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: -1px;
    z-index: 1;
    color: #1F1F1F;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: white;
  }